.{
    margin: 0px;
    padding: 0px;
}


.romCon
{
    height: 100vh;
    width: 120vh;
    background-color: rgb(231, 75, 2);
    margin: auto;
    margin-top: 20vh;
    border-radius: 5px;
    border: 2px solid black;
}


.romH1
{
    font-size: 70px;
    text-align: center;
    color: white;
}

.br
{
    background-image: linear-gradient(90deg, rgb(231, 75, 2), white, rgb(231, 75, 2));
    height: 1px;
    margin-top: 5px;
}



form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    font-size: 50px;
    color: white;
}

form label
{
    margin-top: 10px
}


.main
{
    display: flex;
}

.button_coantainer
{
    display: flex;
}

.button
{
    margin: 0px 20px;
}


form input
{
    margin-top: 5px;
    font-size: 25px;
    padding: 3px;
    border-radius: 10px;
    color: gray;
    text-align: center;
}


form input[type=button]
{
    margin-bottom: 20px;
    margin-top: 70px;
    height: 6vh;
    width: 17vh;
    background-color: rgb(255, 94, 20);
    color: white;
    border: 0px solid black;
    font-size: 30px;
}


form input[type=button]:hover
{
    background-color: rgb(255, 94, 20);
    border-radius: 10px;
    border-bottom: 2px solid rgb(179, 57, 1);
    border-right: 2px solid rgb(179, 57, 1);
    box-shadow: 5px 5px 10px #08080869;
}

form input[type=button]:active
{
    background-color: rgb(255, 94, 20);
    border-radius: 10px;
    border-top: 2px solid rgb(179, 57, 1);
    border-left: 2px solid rgb(179, 57, 1);
    box-shadow: 2px 2px 10px #08080869;
}