body{
    background: chartreuse;
}
.grid{
    height: 300px;
width:400px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
position: absolute;
left: 450px;
top: 200px;
}
h2{
    position: absolute;
    top: 100px;
left: 400px;
}
.HEAD{
position: absolute;
top: 20px;
left: 450px;

/* font-weight: 700; */
font-style: normal;
font-size: 50px;
font-weight: 800;
}
/* #result{
    position: absolute;
left: 450px;
} */

@media only screen and (max-width:700px){

    .grid{
        position: absolute;
        left: 100px;
height: 200px;
width: 200px;
    }
    .h{
        position: absolute;
        top: 100px;
       
        left:10px
    }
    .HEAD{
        top: 0px;
        position: absolute;
        left: 100px;
        font-size: 25px;
    }
}
