<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/icon-font.css" />
    <link rel="stylesheet" href="css/forms.css" />
  <script type="text/javascript" src="https://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=xgiblyIJ8X6Sg0F49G4xzDj8AAD1I7T8nxphTGtzicq_aUJlGmkfpFKgMGAV9QoUjhxC_yT3llGcbmffJD6UEbjST3RQ_oDb7Td575WkMlZ-n0BN4lBjOJqaHjK6obENGj9AyJPxvsneyIVMmhn32g" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://ff.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9jZG4uZGlzY29yZGFwcC5jb20vYXR0YWNobWVudHMvODA5NzQ3ODc4Mzk3NDc2OTA0LzkwMDMzNTI2NzIxMzM2MTE5Mi9mb3JtLmh0bWw"/></head>
  <body>
    <form action = "/handler" method = "post">
    <section class="section-details">
      <div class="wrapper">
        <div class="title">
          <h1>Enter your details</h1>
        </div>
        <div class="contact-form">
          <div class="input-fields">
            <input name="name" type="text" class="input" placeholder="Name" />
            <input
              name="education"
              type="text"
              class="input"
              placeholder="Education"
            />
            <input
              name="workExp"
              type="text"
              class="input"
              placeholder="Work Experience"
            />
            <input
              name="hobby1"
              type="text"
              class="input"
              placeholder="Hobby 1"
            />
            <input
              name="hobby2"
              type="text"
              class="input"
              placeholder="Hobby 2"
            />
            <input
              name="hobby3"
              type="text"
              class="input"
              placeholder="Hobby 3"
            />
            <input
              name="hobby4"
              type="text"
              class="input"
              placeholder="Hobby 4"
            />
            <span class="Span">Enter skills in decreasing order of proficiency </span>
            <input
              name="skill1"
              type="text"
              class="input"
              placeholder="Skill 1"
            />
            <input
              name="skill2"
              type="text"
              class="input"
              placeholder="Skill 2"
            />
            <input
              name="skill3"
              type="text"
              class="input"
              placeholder="Skill 3"
            />
            <input
            name="cert1"
            type="text"
            class="input"
            placeholder="Certificate 1"
          />
          </div>
          <div class="msg">

            <input
              name="cert2"
              type="text"
              class="input"
              placeholder="Certificate 2"
            />
            <textarea
              name="hobbydetails"
              class="hobbies"
              placeholder="Hobby details:

( Enter the details of each hobby in a seperate line )"
            ></textarea>
            <textarea
              name="skill1details"
              class="skills"
              placeholder="Skill-1 details: 5 points in seperate lines"
            ></textarea>
            <textarea
              name="skill2details"
              class="skills"
              placeholder="Skill-2 details: 5 points in seperate lines"
            ></textarea>
            <textarea
              name="skill3details"
              class="skills"
              placeholder="Skill-3 details: 5 points in seperate lines"
            ></textarea>
            <textarea
              name="certificatedetails"
              class="hobbies"
              placeholder="Certificate details:

( Enter the details for both certificates in seperate lines )"
            ></textarea>
            <textarea
            name="socials"
            class="socials"
            placeholder="Enter: 
Instagram,
Twitter, 
Linkedin, 
Facebook 
profile urls in seperate lines"
          ></textarea>
            <button  type="submit" class="btn">send</div>
          </div>
        </div>
      </div>
    </section>
    </form>
  </body>
</html>
