//COLORS
$color-white: #eeeeee;
$color-blue: #00adb5;
$color-grey: #393e46;
$color-black: #222831;
$color-blue-1: aliceblue;
$color-grey--1: #d3d3d3;
$color-grey--2: #9d9d9d;
$color-light-blue: #a2d2ff;
$color-dark-blue: #496070;
$color-orange: #ffb900;
$color-dark-orange: #ea2f07;
$color-blue-2: #2998ff;
$color-dark-blue-2: #193498;

//LENGTHS

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;

//NOTES :

/*97 charcter limit FOR HOBBIES*/
