.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  overflow: hidden;
  &__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
