@font-face {
  font-family: 'semi__bold';
  src: url(../fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'regular';
  src: url(../fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'light';
  src: url(../fonts/poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: 'med';
  src: url(../fonts/poppins/Poppins-Medium.ttf);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0e153a;
}

.container {
  width: 100vw;
  height: 100vh;
  margin-top: 3em;
}

/* for mobile response */
.btn {
  color: #e2f3f5;
  font-family: 'regular';
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

a {
  text-decoration: none;
}

.msgbtn {
  border: 1.4px solid #3d5af1;
  padding: 3px 10px 3px 10px;
}

.flwbtn {
  background-color: #3d5af1;
  color: #e2f3f5;
  padding: 3px 10px 3px 10px;
}

.card {
  width: 340px;
  height: 640px;
  background-color: #e2f3f5;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
}

.cover {
  width: 100%;
  height: 240px;
  background-color: #3d5af1;
  border-radius: 6px 6px 0 0;
  margin-top: -2em;
}

.user-card {
  width: 300px;
  height: 180px;
  background-color: #e2f3f5;
  border-radius: 6px;
  margin: 0em auto;
  position: relative;
  top: 8em;
  -webkit-box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
          box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
}

.user-img {
  width: 90px;
  height: 90px;
  background-image: url(../image/profile.jpg);
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 6px solid #e2f3f5;
  margin: -14em auto;
  position: relative;
}

.user-info {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  margin-top: 0em;
}

.user-info .user-name {
  font-family: 'semi__bold';
  font-size: 18px;
}

.user-info .user-location {
  font-family: 'regular';
  font-size: 12px;
}

.user-details {
  margin: 7em 0 3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.user-details .user-post {
  text-align: center;
}

.user-post .title {
  font-family: 'med';
  font-size: 16px;
}

.user-post .posts {
  font-family: 'ight';
  font-size: 14px;
}

.user-bio {
  margin: 0em 1.5em 0em 1em;
}

.user-bio .title {
  font-family: 'semi__bold';
  font-size: 18px;
}

.user-bio p {
  font-family: 'regular';
  font-size: 13px;
  padding: 0 2em 0 0;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.user-posts {
  width: 100%;
  height: 100%;
  margin: 2em 1.5em 0em 0em;
  overflow: hidden;
}

.user-posts .title {
  margin-left: 0.8em;
  font-family: 'semi__bold';
  font-size: 18px;
}

.users-posts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.posts-img-1 {
  margin: 1em 0 0 0;
  width: 140px;
  height: 140px;
  border-radius: 5px;
  background-image: url(../image/userpost1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -o-object-position: center;
     object-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.posts-img-2 {
  margin: 1em 0 0 0;
  width: 140px;
  height: 140px;
  border-radius: 5px;
  background-image: url(../image/userpost2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -o-object-position: center;
     object-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */