.money-manager {
  width: 100%;
  height: 100%;
  display: flex;
  /* background-color: #118; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  background-image: url("https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png");
  background-size: cover;
  padding: 3% 5%;
  border-radius: 10px;
  box-shadow: 0px 10px 40px 1px #d8dffc;
}

.header h1 {
  font-size: 2rem;
  color: #1e293b;
}

.header p {
  margin-top: 0.25rem;
  color: #7e858e;
}

.header p span {
  color: #06b6d4;
  font-weight: 600;
}

.color {
  background-color: #ff5757;
}

.tab-index-list {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  flex-basis: 30%;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 3rem;
}

.form-container {
  width: 25%;
  padding: 2.5% 3.5%;
  border: 1px solid #929292;
  border-radius: 15px;
  background-color:#f1f1f1;
}

.form-item {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.form-item label {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-size: 600;
}

.form-item input,
.form-item select {
  padding: 5px;
  background-color:#fafafa;
}

.form-container button {
  background-color: #0b69ff;
  color: #f1f1f1;
  padding: 0.6rem 1.2rem;
  border: none;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.transaction-register {
  width: 70%;
  min-height: 100%;
  margin-left: 3rem;
  border: 1px solid #929292;
  background-color:#f1f1f1;
  padding: 2.5%;
  border-radius: 10px;
}

.register-list-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #909090;
  padding: 2%;
  margin-top: 1rem;
}

.register-list-item h3:nth-child(1) {
  width: 35%;
}

.register-list-item h3:nth-child(2) {
  width: 30%;
}

.register-list-item h3:nth-child(3) {
    width: 25%;
  }

  .register-list-item h3:nth-child(4) {
    width: 10%;
  }

  @media screen and (max-width: 1200px){
    html{
      font-size:12px;
    }

    .App{
      padding:2% 4%;
    }
    .form-container{
      width:35%;
    }
  }

  @media screen and (max-width: 750px){
    .tab-index-list{
      flex-wrap:wrap;
    }
  }

  @media screen and (max-width: 600px){
    .main{
      flex-direction:column;
      justify-content:flex-start;
      align-items:flex-start;
    }

    .form-container{
      width:100%;
      margin-bottom:2.5rem;
    }

    .transaction-register{
      width:100%;
      margin-left:0;

    }
  }